* {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}
body {
  background-color: black;
  color: white;
}
.arrow {
  /* background: url(pics/arrow.png); */
  background-color: chocolate;
  background-repeat: no-repeat;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 70px;
  /* height: 30px; */
  font-size: xx-small;
  border-radius: 50%;
  text-align: center;
}
ul {
  padding: 20px;
  float: right;
  /* background-color: burlywood; */
}
li {
  padding: 20px;
  display: inline-block;
  font-weight: bolder;
}
main {
  margin-top: 100px;
  /* padding-top: 100px; */
}

main div {
  display: inline-block;
}
img {
  padding: 10px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 5px 10px 18px #888888;
}
.pic {
  width: 600px;
  height: 600px;
  margin-left: 100px;
  float: left;
}

h1,
h3 {
  margin: 30px;
}

.donate {
  width: 40%;
  text-align: center;
  align-items: center;
  padding: 10% 0;
}
.donate-button {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: 30%;
  padding-top: 15px;
  background-color: white;
  font-size: x-large;
  font-weight: bolder;
  box-shadow: 5px 5px 10px 5px #888888;
}
section {
  float: left;
  height: 400px;
  padding: 5% 10% 15% 10%;
}

#about {
  background-color: white;
  color: black;
  padding-bottom: 300px;
}
#about h1,
#contact h1 {
  color: red;
  font-size: 40px;
  text-align: center;
}

p {
  font-size: x-large;
}

#contact {
  align-items: center;
  width: 80%;
  height: 300px;
}
.info {
  padding: 50px;
  width: 300px;
  margin: auto;
  text-align: center;
  box-shadow: 5px 10px 18px #888888;
}
